* {
    margin: 0;
    padding: 0;
    font-family: "inter" ,sans-serif, monospace;
}

:root {
    --primary: #d9ead3;
    --secondary: #124f5c;
    --title-colour: rgb(92, 92, 92);
}

body, section {
    height: 85dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    font-weight: 600;
    /* word-spacing: 10px; */
    letter-spacing: 1px;
}

#welcome-slide-container {
    width: 80dvw;
    text-align: center;
    overflow: hidden;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.welcome-slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: calc(100% - 4rem);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    padding: 2rem;
}

.welcome-slide > h1 {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: pacifico;
    color: var(--title-colour);
}

.welcome-slide > h1 > span:first-child {
    font-size: 25px;
    font-family: pacifico;
    color: var(--title-colour);
}

.welcome-slide > h1 > span:last-child {
    font-size: 60px;
    font-family: pacifico;
    color: var(--title-colour);
    line-height: 20px;
}

.welcome-slide:first-child {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#progress-dots {
    display: flex;
    gap: 1rem;
}

#progress-dots > a {
    width: 1px;
    height: 1px;
    padding: .2rem;
    border-radius: 50%;
    background-color: black;
    border: 2px black solid;
    transition: .2s;
}

#progress-dots > a:active {
    background-color: var(--secondary);
}


#welcome-page > a {
    padding: 1rem;
    background-color: var(--secondary);
    color: rgb(218, 218, 218);
    border: 0px;
    border-radius: 10px;
    width: 12rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s;
    position: absolute;
    bottom: 20dvh;
    text-align: center;
    text-decoration: none;
}

#welcome-page > button:hover {
    /* background-color: #08171a; */
}

#welcome-page > a:active {
    background-color: #153339;
}